.section-1
    background-image: url(../img/main_bg.jpg)
    .menu
        position: relative
        .bg-t-l
            position: absolute
            top: 0
            left: 0
        .bg-t-r
            position: absolute
            top: 0
            right:0
        .bg-b-l
            position: absolute
            bottom: 0
            left: 0
        .bg-b-r
            position: absolute
            bottom: 0
            right: 0
        .icon
            font-size: 80px
            color:#E4E4E4 
            height: 200px
        h5
            font-family:'Courgette'
            font-size: 30px
        .icon:hover
            color:#C42D40
            border-right: #C42D40 5px solid
        .border-size
            border: solid 10px #E4E4E4 
            height: 60%
        .icon-col2
            height: 190px
            border-bottom: 1px#E4E4E4 dotted


@media screen and ( max-width:768px )
    .icon-col2
        font-size: 12px
    .none
        display: none
    .bg-t-l
        position: absolute
        top: 0
        left: 0
        width: 25%
    .bg-t-r
        position: absolute
        top: 0
        right:0
        width: 25%
    .bg-b-l
        position: absolute
        bottom: 0
        left: 0
        width: 25%
    .bg-b-r
        position: absolute
        bottom: 0
        right: 0
        width: 25%
@media screen and ( max-width: 568px )
    .icon-col2
        font-size: 12px
    .none
        display: none
    .bg-t-l
        position: absolute
        top: 0
        left: 0
        width: 30%
    .bg-t-r
        position: absolute
        top: 0
        right:0
        width: 30%
    .bg-b-l
        position: absolute
        bottom: 0
        left: 0
        width: 30%
    .bg-b-r
        position: absolute
        bottom: 0
        right: 0
        width: 30%




      
        // gris
        h1
            font-family: 'Courgette'
            font-size: 45px
            .d-2
                font-size:65px 
            .d-1
                font-size:85px
.section-2
    background-image: url(../img/team_background.jpg)
    background-size: cover
    .d-flex
        img
            height: 450px

h1
            font-family: 'Courgette'
            font-size: 45px
            .d-2
                font-size:65px 
            .d-1
                font-size:85px


// section table 

.table
    width: 800px
    border-radius: 15px
    background-image: url(../img/book_table_bg.jpg)
    background-size: cover
    form
        margin-left: 125px
        margin-right: 125px
        .row
                .col-12
                    padding-top: 20px
        input
            height: 50px
            border-radius: 15px
        select
            height: 50px
            border-radius: 15px
@media screen and ( max-width:768px )
    .table
        width:500px
        form
            margin-left: 50px
            margin-right: 50px
@media screen and ( max-width:568px )
    .table
        width:240px
        form
            margin-left: 20px
            margin-right: 20px
            .row
                .col-12
                    padding-top: 20px
                
.blog
    img
        border-radius: 25px
        border: solid 10px #E4E4E4 
    .date
        background-color: #C42D40
        width: 80%
        border-radius: 10px
        transform: translateY(-50%)
    .grand
        font-size: 25px
    .moins-50
        transform: translateY(-25%)
        padding-left: 10%
@media screen and ( max-width:568px )
    .blog
        img
            width: 100%
            border-radius: 25px
            border: solid 10px #E4E4E4 
        .date
            background-color: #C42D40
            width: 80%
            border-radius: 10px
            transform: translateY(-50%)
            
        .grand
            font-size: 15px
        .moins-50
            padding-left: 10%
        .date
            font-size: 10px



.contact
    width: 500px
    margin: auto
    padding: 20px
    border-radius: 15px
    i
        font-size: 50px
        padding-top: 20px
@media screen and ( max-width:568px )
    .contact
        width: 275px
        margin: auto
        padding: 20px
        border-radius: 15px
        i
            font-size: 50px
            padding-top: 20px

.section-3
    background-image: url(../img/testimonials_background.jpg)
    background-size: cover
    .border-size
        border: solid 10px #888585 
    .border-client
        border: solid 3px #ffffff
        border-radius: 10px
        width: 60%
    @media screen and ( max-width:568px )
        .border-size
            border: solid 10px #888585 
        .border-client
            border: solid 3px #ffffff
            border-radius: 10px
            width: 80%
            margin-top: 10px
