.section-1
    background-image: url(../img/main_bg.jpg)
    .menu
        position: relative
        .bg-t-l
            background-image: url(../img/box-left-top.png)
            position: absolute
            height: 120px
            width: 120px
            top: 0
            left: 0
            background-repeat: no-repeat
            
        .bg-t-r
            background-image: url(../img/box-right-top.png)
            position: absolute
            top: 0
            right: 0
            height: 120px
            width: 120px
            background-repeat: no-repeat
        .bg-b-l
            background-image: url(../img/box-bottom-left.png)
            position: absolute
            bottom: 0
            left: 0
            height: 120px
            width: 120px
            background-repeat: no-repeat
        .bg-b-r
            background-image: url(../img/box-bottom_right.png)
            position: absolute
            bottom: 0
            right: 0
            height: 120px
            width: 120px
            background-repeat: no-repeat
        h1
            font-family: 'Courgette'
            font-size: 45px
            .d-2
                font-size:65px 
            .d-1
                font-size:85px
.section-2
    background-image: url(../img/team_background.jpg)
    background-size: cover
    .d-flex
        img
            height: 450px
h1
            font-family: 'Courgette'
            font-size: 45px
            .d-2
                font-size:65px 
            .d-1
                font-size:85px
